@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Registration.Models.Employee

<h2>Employee #@Model.Id</h2>

@Html.HiddenFor(m => m.Id)

@Html.LabelFor(model => model.Name, "Name")
<br />
@Html.EditorFor(model => model.Name)
<br />
<br />
@Html.LabelFor(model => model.SurName, "SurName")
<br />
@Html.EditorFor(model => model.SurName)
<br />
<br />
@Html.LabelFor(model => model.Patronymic, "Patronymic")
<br />
@Html.EditorFor(model => model.Patronymic)
<br />
<br />
@Html.LabelFor(model => model.EmploymentDate, "Employment Date")
<br />
@Html.EditorFor(model => model.EmploymentDate)
<br />
<br />
@Html.LabelFor(model => model.Position, "Position")
<br />
@Html.EditorFor(model => model.Position)
<br />
<br />
@Html.LabelFor(model => model.Company.Name, "Company")
<br />
@Html.EditorFor(model => model.Company.Name)
<br />
<br />

@using (Html.BeginForm())
{
<input type="submit" value="Edit" />
}
