@model IEnumerable<Registration.Models.Company>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeView</title>
</head>
<body>
    <h3>List of companies</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Name</th>
                <th scope="col">Form</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Form</td>
                    <td><a asp-controller="CMenu" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                    <td><a asp-controller="CMenu" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
    @using (Html.BeginForm("Add", "CMenu", FormMethod.Post))
    {
        <button name="action" value="add">Add new Company</button>
    }
</body>
</html>